INSERT scanner.dbo.MSGS_LOCK
(SEND_TO, SEND_FROM, SUBJECT, BODY, SENT_FLG, CREATED, SENT, 
ATTACHMENT, CC, BCC, HTML, TO_ID, SRC_TYPE, DEFER_UNTIL, EXPIRES, 
ATTACH_DOC_ID, READ_FLG, READ_DT, FROM_NM, FROM_ID, SRC_ID, MS_IDENT,MACHINE)
SELECT TOP 10 SEND_TO, SEND_FROM, SUBJECT, BODY, SENT_FLG, CREATED, SENT, 
ATTACHMENT, CC, BCC, HTML, TO_ID, SRC_TYPE, DEFER_UNTIL, EXPIRES, 
ATTACH_DOC_ID, READ_FLG, READ_DT, FROM_NM, FROM_ID, SRC_ID, MS_IDENT, 'SIEBEL' 
FROM scanner.dbo.MESSAGES M
WHERE SENT_FLG='N' 
AND (DEFER_UNTIL IS NULL OR GETDATE()>DEFER_UNTIL) 
AND BODY IS NOT NULL 
AND SEND_TO IS NOT NULL AND SEND_TO<>''
AND SEND_FROM IS NOT NULL AND SEND_FROM<>'' 
AND NOT EXISTS (
SELECT MS_IDENT FROM scanner.dbo.MSGS_LOCK WHERE MS_IDENT=M.MS_IDENT
)
ORDER BY CREATED DESC

SELECT SEND_TO, SEND_FROM, SUBJECT, BODY, SENT_FLG, CREATED, SENT, 
ATTACHMENT, CC, BCC, HTML, TO_ID, SRC_TYPE, DEFER_UNTIL, EXPIRES, 
ATTACH_DOC_ID, READ_FLG, READ_DT, FROM_NM, FROM_ID, SRC_ID, MS_IDENT, MACHINE 
FROM scanner.dbo.C
WHERE MACHINE=''

DELETE FROM scanner.dbo.MESSAGES 
WHERE MS_IDENT IN (SELECT MS_IDENT FROM scanner.dbo.MSGS_LOCK)

TRUNCATE TABLE scanner.dbo.MSGS_LOCK
TRUNCATE TABLE scanner.dbo.MSGS_DEAD

SELECT SEND_TO, SEND_FROM, SUBJECT, BODY, SENT_FLG, CREATED, SENT, 
ATTACHMENT, CC, BCC, HTML, TO_ID, SRC_TYPE, DEFER_UNTIL, EXPIRES, 
ATTACH_DOC_ID, READ_FLG, READ_DT, FROM_NM, FROM_ID, SRC_ID, MS_IDENT 
FROM scanner.dbo.MSGS_LOCK
WHERE MACHINE=''

SELECT * FROM scanner.dbo.MSGS_DEAD

DELETE FROM scanner.dbo.MSGS_LOCK WHERE MS_IDENT=''

INSERT scanner.dbo.MSGS_DEAD (SEND_TO, SEND_FROM, SUBJECT, BODY, SENT_FLG, CREATED, SENT,  ATTACHMENT, CC, 
BCC, HTML, TO_ID, SRC_TYPE, DEFER_UNTIL, EXPIRES,  ATTACH_DOC_ID, READ_FLG, READ_DT, FROM_NM, FROM_ID, 
SRC_ID, MS_IDENT, MACHINE) 
SELECT SEND_TO, SEND_FROM, SUBJECT, BODY, SENT_FLG, CREATED, SENT,  ATTACHMENT, CC, 
BCC, HTML, TO_ID, SRC_TYPE, DEFER_UNTIL, EXPIRES,  ATTACH_DOC_ID, READ_FLG, READ_DT, FROM_NM, FROM_ID, 
SRC_ID, MS_IDENT, MACHINE 
FROM scanner.dbo.MSGS_LOCK 
WHERE MACHINE=''

UPDATE scanner.dbo.MESSAGES SET SENT_FLG='E' WHERE MS_IDENT IN (
SELECT MS_IDENT FROM scanner.dbo.MSGS_LOCK WHERE MACHINE=''
)

